.metric {
    padding: 20;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7E1;
    border-radius: 25px;

}

.metric-title {
    background-color: #99A38A;
    min-width: 70%;
    padding: 10px;
    color: white;
}

.metric-img {
    width: 90px;
    height: 90px;
    margin: 10px;
}

.metric-popup-container {}

.metric-popup-trigger:hover+.metric-popup {
    display: inline;
}

.metric-popup {
    display: none;
    position: absolute;
    background-color: #fefefe;
}

.bg-metric-temp {}

.bg-metric-progress-green {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 255, 0, 1) 0%, rgba(255, 255, 0, 1) 100%);
}

.bg-metric-progress-yellow {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
}

.bg-metric-progress-red {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
}