.rewards {
    width: 100%;
    min-height: 600px;
    margin-top: 15px;
}

.reward-goals {
    margin-top: 40px;
}

.reward-goal {
    width: 95%;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 60% 1fr;
    min-height: 50px;
}