.achievements-page {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    padding: 20px;
}

.achievement-btns {
    justify-content: center;
    margin-bottom: 10px;
}

.achievements-editor {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fefefe;
}

.achievement-header {
    padding: 10px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
}

.achievement {
    width: 80%;
    margin-bottom: 20px;
}