body {
  min-height: 100vh;
  height: fit-content;
}

.App {
  text-align: center;
  min-height: 100vh;
  height: fit-content;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}







/* GLOBAL VALS*/

.hor-center {
  margin-left: auto;
  margin-right: auto;
}

.vert-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.full-size {
  width: 100%;
  height: 100%;
}

.hover:hover {
  cursor: pointer;
  opacity: 0.3;
}